<div id="externa" class="row">
  <div class="col-sm-4 col-md-4" id="modalAdicionar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titulo}}</h5>
          <button type="button" class="close" (click)="limpar(user)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #user="ngForm" (ngSubmit)="salvar(user.value)">
          <div class="modal-body">
            
            <div class="col form-group">
              <label for="userName" class="control-label" [class.is-invalid]="nomeModel.invalid && nomeModel.dirty">Seu
                nome:
              </label>
              <div class="">
                <input id="userName" required minlength="4" class="form-control" type="text" name="userName" #nomeModel="ngModel"
                  [(ngModel)]="userName">
              </div>
            </div>

            <div class="col form-group">
              <label for="password" class="control-label" [class.is-invalid]="senhaModel.invalid && senhaModel.dirty">Senha:
              </label>
              <div class="">
                <input id="password" required minlength="4" class="form-control" type="text" name="password"
                  #senhaModel="ngModel" [(ngModel)]="password">
              </div>
            </div>

            <div class="col form-group" *ngIf="!isUserLogado()">
              <label for="type" class="control-label" [class.is-invalid]="typeModel.invalid && typeModel.dirty">Senha:
              </label>
              <div class="">
                <select name="type" id="type" class="form-control" #typeModel="ngModel" [(ngModel)]="type" required>
                    <option value=""> - - selecione - - </option>
                  <option value="USER">Usuário simples</option>
                  <option value="ADMIN">Administrador</option>
                </select>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block col" (click)="limpar(user)">Cancelar</button>
            <button type="submit" class="btn btn-Success btn-block col" [disabled]="!user.valid">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Fundo preto do modal-->
<div class="modal-backdrop show">
  <div>