.navbar{
    background:#55a79a;
    height: 25px;
    color: aliceblue;
}
.navbar{
    background:#55a79a;
  }
  
  .nav-lateral{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background: #424242;
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px;
  }
  .nav-lateral a{
      color: aliceblue;
  }
  .nav-item{
    width: 100%;
    
  }
  .nav-item.ativo{
    background-color: #585858;
  }
  .menu-lateral{
    z-index: 9999;    
    width: 100%;
    
  }
  .meucontainer{
    margin-right: 50px;
  }
  
  #logout{
      position: fixed;
      right: 0px;
  }

  #img-user{
    position: absolute;
    right: 15px;
    width: 20%;

  }

  #usuario{
    font-size: 16pt;
  }