<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-title">Armazenamento</h5>
      <div class="card-body row">
        <div class="col-sm-6 col-md-6">
          <p class="card-text">Espaço alocado para está coleção: {{status.storageSize}} bytes</p>
          <p class="card-text">Tamanho atual desta coleção: {{status.size}} bytes</p>
          <p class="card-text">Quantidade de registros: {{status.count}}.</p>
          <p class="card-text">Tamanho médio de cada registro: {{status.avgObjSize}} bytes. </p>
          <div class="form-group" id="div-deletar">
            <label class="padding-5">Deletar todos os registros:</label>
            <button class="btn btn-danger padding-5" (click)="showModalDeletar()">Deletar</button>
          </div>

        </div>
        <div class="col-sm-6 col-md-6">
          <p-chart type="doughnut" [data]="armazenamento"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modaldeletar">
    <div class="externa">
      <div class="col-sm-4 col-md-4 interna modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmação</h5>
          <button type="button" class="close" (click)="hideModalDeletar()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja excluir todos os {{status.count}} registros?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="deletarAll()">Sim</button>
          <button type="button" class="btn btn-secondary" (click)="hideModalDeletar()">Cancelar</button>
        </div>
      </div>
    </div>

    <!-- FUNDO PRETO DO MODAL -->
    <div class="" tabindex="-1" role="dialog" id="modaldeletar"> </div>        
        
  </div>
  