<div class="row">
  <div id="listagem" class="col-md">
    <h3>Listagem atual</h3>
      
    <p-table [value]="listaReservas" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
          <div id="dataAtual">
            <select class="form-control">
              <option>{{data | date:'dd/MM/y'}}</option>
            </select>
          </div>
        <tr>
          <th>Nome</th>
          <th>Chave</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-reserva>
        <tr>
          <td>{{reserva.userName | uppercase}}</td>
          <td>{{reserva.codeKey}}</td>
          <td [ngStyle]="{'color':reserva.status=='OCUPADO'?'red':'green'}">{{reserva.status}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="col-md-12">
    <p *ngIf="conexaoFail" style="color: red">Ops!! Problemas na conexao com a base.</p>
  </div>
</div>