/* You can add global styles to this file, and also import other style files */
@media (min-width:768px){
    .painel{
        height: 200px;
    }
}
@media (max-width:768px){
    .painel{
        height: 350px;
    }
}
.btn-Success{
  background:#55a79a;
  color: white;
}
input.ng-invalid.ng-dirty{
    border: 1px solid red;
}
.is-invalid{
    color: red;
}

